{% extends 'base.html.twig' %}
 {% block body %}
    <table>
        <thead>
        <td>Login</td>
        <td>Rola</td>
        <td>Akcje</td>
        </thead>
        {% for users in users %}
        <tr>
            <td>{{ users.login }}</td>
            <td>
                {% if users.isAdmin == 'True' %}
                    <b>Admin</b>
                {% elseif users.isLibrarian == 'True' %}
                    <i>Bibliotekarz</i>
                {% else %}
                    Czytelnik
                {% endif %}
            </td>
            <td>
                <button><a href="#">Edytuj dane</a></button>
            {% if user.id == users.id %}
                    <button><a href="#">Nie możesz usunąć samego siebie</a></button>
                {% else %}
                    <button><a href="{{ path('', {'id': users.id}) }}" onclick="return confirm('Czy na pewno chcesz usunąć tego użytkownika?')">Usuń użytkownika</a></button>
            {% endif %}
            </td>
        </tr>

        {% endfor %}


    </table>


{% endblock %}