td {
  vertical-align: middle;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.table-div {
  padding: 30px;
}

.td-btn {
  text-align: right;
}
