{% extends 'base.html.twig' %}

{% block body %}
    !!! tutaj trzeba dodać alert który bedzie przechwytywany !!! [if alert is defined]
    {% if user is defined %}
        <p>Witaj, {{ user.login }}</p>
        <p>rola użytkownika
            {% if user.isAdmin %}Admin{% endif %}
            {% if user.isLibrarian %}Bibliotekarz{% endif %}
            {% if not user.isLibrarian  and not user.isAdmin %}Czytelnik{% endif %}</p>
        {% else %}
            <p>Witaj, niezalogowany</p>
    {% endif %}
TUTAJ STRONA GŁÓWNA
    homepage.html.twig
{% endblock %}